<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="/" class="brand-logo">
    <!-- <img alt="Logo" [attr.src]="headerLogo" /> -->
    <h6 style="color :white">Sistema de lealtad</h6>
  </a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        "
        cacheSVG="true"
        class="svg-icon svg-icon-xl"
      ></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div
    id="kt_aside_menu"
    class="aside-menu"
    [ngClass]="asideMenuCSSClasses"
    data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll"
    [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500"
  >
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <!-- begin::1 Level -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Menú principal</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <!-- <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a class="menu-link" routerLink="/builder" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Layout Builder</span>
        </a>
      </li> -->
      <!-- end::1 Level -->

      <!-- Components -->
      <!-- begin::section -->
      <li class="menu-section">
        <h4 class="menu-text">Menú</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li>
      <!-- end:: section -->

      <!-- Material-UI -->
      <!-- begin::1 Level -->
      <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
      >
        <a
          class="menu-link menu-toggle"
          href="/material"
          routerLinkActive="active"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Agricultores</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">Material UI</span>
              </span>
            </li> -->

            <!-- Form Controls -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            >
              <a
                class="menu-link menu-toggle"
                routerLink="/wizards/wizard-2"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span routerLinkActive="active" class="menu-text">Nuevo agricultor</span>
              </a>
              
            </li>
            <!-- end::2 Level -->
            <!-- Navigation -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              routerLinkActive="menu-item-open"
              aria-haspopup="true"
              data-menu-toggle="hover"
            >
              <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/material/navigation"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Consultar información</span>

              </a>
             
            </li>
            <!-- end::2 Level -->
            <!-- Layout -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              routerLinkActive="menu-item-open"
              aria-haspopup="true"
              data-menu-toggle="hover"
            >
              <a
                class="menu-link menu-toggle"
                href="/material/layout"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Emitir puntos </span>

              </a>
              <!-- <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav">
                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/card"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Card</span>
                    </a>
                  </li>

                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/divider"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Divider</span>
                    </a>
                  </li>

                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/expansion-panel"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Expansion panel</span>
                    </a>
                  </li>
                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/grid-list"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Grid list</span>
                    </a>
                  </li>

                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/list"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">List</span>
                    </a>
                  </li>
                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/tabs"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Tabs</span>
                    </a>
                  </li>

                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/stepper"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Stepper</span>
                    </a>
                  </li>
                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/layout/tree"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Tree</span>
                    </a>
                  </li>

                </ul>
              </div> -->
            </li>
            <!-- end::2 Level -->
            <!-- Buttons and Indicators -->
            <!-- begin::2 Level -->
            <li
              class="menu-item menu-item-submenu"
              routerLinkActive="menu-item-open"
              aria-haspopup="true"
              data-menu-toggle="hover"
            >
              <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/material/buttons-and-indicators"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Canjear fichas</span>

              </a>

            </li>
            <!-- end::2 Level -->

            <!-- Popups and Modals -->
            <!-- begin::2 Level -->
            <!-- <li
              class="menu-item menu-item-submenu"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-open"
            > -->
              <!-- <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/material/bottom-sheet"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Popups and Modals</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav"> -->
                  <!-- begin::3 Level -->
                  <!-- <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/popups-and-modals/bottom-sheet"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Bottom sheet</span>
                    </a>
                  </li> -->
                  <!-- end::3 Level -->
                  <!-- begin::3 Level -->
                  <!-- <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/popups-and-modals/dialog"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Dialog</span>
                    </a>
                  </li> -->
                  <!-- end::3 Level -->
                  <!-- begin::3 Level -->
                  <!-- <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/popups-and-modals/snackbar"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Snackbar</span>
                    </a>
                  </li> -->
                  <!-- end::3 Level -->
                  <!-- begin::3 Level -->
                  <!-- <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/popups-and-modals/tooltip"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Tooltip</span>
                    </a>
                  </li> -->
                  <!-- end::3 Level -->
                <!-- </ul>
              </div>
            </li> -->
            <!-- end::2 Level -->

            <!-- Data table -->
            <!-- begin::2 Level -->
            <!-- <li
              class="menu-item menu-item-submenu"
              routerLinkActive="menu-item-open"
              aria-haspopup="true"
              data-menu-toggle="hover"
            >
              <a
                class="menu-link menu-toggle"
                routerLinkActive="active"
                href="/material/data-table"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Data table</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="menu-submenu">
                <i class="menu-arrow"></i>
                <ul class="menu-subnav"> -->
                  <!-- begin::3 Level -->
                  <!-- <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/data-table/paginator"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Paginator</span>
                    </a>
                  </li> -->
                  <!-- end::3 Level -->
                  <!-- begin::3 Level -->
                  <!-- <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/data-table/sort-header"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Sort header</span>
                    </a>
                  </li> -->
                  <!-- end::3 Level -->
                  <!-- begin::3 Level -->
                  <!-- <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                  >
                    <a
                      class="menu-link"
                      routerLink="/material/data-table/table"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">Table</span>
                    </a>
                  </li> -->
                  <!-- end::3 Level -->
                <!-- </ul>
              </div>
            </li> -->
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- Ng-Bootstrap -->
      <!-- begin::1 Level -->

      <!-- end::1 Level -->

      <!-- Applications -->
      <!-- begin::section -->
      <!-- <li class="menu-section">
        <h4 class="menu-text">Applications</h4>
        <i class="menu-icon flaticon-more-v2"></i>
      </li> -->
      <!-- end:: section -->

   
     
    
     
      
      <!-- end::1 Level -->
    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
